@model WebAppBiblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Detalle Prestamo";
}

<h2>Detalle del prestamo</h2>

<div>
    <h4>Se muestra el detalle del prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LibroId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LibroId)
        </dd>
        <dt>
            Prestado el dia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt>
            Entregado el dia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Gestor prestamos</a>
</div>
