@model IEnumerable<WebAppBiblioteca.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h2>Gestión de Prestamos</h2>

<p>
    <a asp-action="Create">Prestar Libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrestamo)
            </td>
            <td>
                @if (item.FechaEntrega is null)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Entregar Libro</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                }
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
