@model IEnumerable<WebAppBiblioteca.Models.Libro>

@{
    ViewData["Title"] = "Libros";
}

<h2>Libros registrados en la biblioteca</h2>

<p>
    <a asp-action="Create">Registro nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th align="center">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.DiasPrestamo)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.UbicacionId)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.TipoLibroId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLibroId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
